<%#app/views/image/index.html.erb %>
<% @images.each do |image| %>
<h4> 
  <%= link_to(image.title[0], "/image/#{image.pid}") %>
</h4>
<dl>
  <dt>Description</dt>
  <dd>
    <%= image.description[0] %>
  </dd>
  <dt>Subject</dt>
  <dd>
    <%= image.subject[0] %>
  </dd>
</dl>
<hr/>
<% end %>
