<% # container for all documents in index view -%>
<div class="container">
  <div class="row">
    <div id="grid" class="span12">
        <%= render documents, :as => :document %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
     if(window.location.search == "?utf8=%E2%9C%93&search_field=all_fields&q=") {
       $(".blacklight-title_tesim").children('h5').addClass('twiddle-open');
       $(".blacklight-title_tesim").children('ul').toggle();
     }
  });
 </script>
