<% # container for all documents in index view -%>
<div class="container">
  <div class="row">
    <div id="grid" class="span12">
        <%= render documents, :as => :document %>
    </div>
  </div>
</div>

