<h4><%= t('blacklight.welcome') %></h4>
<p>&nbsp;</p>
<p>
Hydra Demo UI features:
<ul>
  <li>Use the search box in the top of the page to find objects from fedora repository.</li>
  <li>Use the "Limit you search" options in the left pane to filter the results of your search</li>
  <li>View/Update metadata of the images in the repo</li>
</ul>   
</p>
<p> 
Existing Hydra based digital collections:
<ul>
  <li><a target="_blank"  href="https://hydra.hull.ac.uk/">University of Hull - Digital Repository</a></li>
  <li><a target="_blank" href="https://scholarsphere.psu.edu/">Penn State - ScholarSphere</a></li>
  <li><a target="_blank" href="http://code4lib.library.nd.edu/c4l11/video/screencast.mp4">University of Notre Dame - Hesburgh Libraries (Video)</a></li>
  <li><a target="_blank" href="http://www.youtube.com/watch?v=YJtX6qQ2Woc">Northwestern University - Digital Image Library (Video)</a></li>
  <li><a targeit="_blank" href="http://www.youtube.com/watch?v=i5p3PRTZBxI">Stanford University - Electronic Theses and Dissertaions(Video)</a></li>
</ul>
See full list at <a target="_blank" href="http://projecthydra.org/apps-demos-2-2/">http://projecthydra.org/apps-demos-2-2/</a>
</p>
<br/>
<% #Creates a bit space in the page -%>

