/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*
 OVERRIDE
 The main logo image for the Blacklight instance
*/
/* line 6, ../../../../../home/admin/.rvm/gems/ruby-1.9.3-p392/gems/blacklight-4.1.0/app/assets/stylesheets/blacklight/_header.css.scss */
.navbar .brand {
  width: 225px !important;
  background: transparent url(/assets/umdlogo.png) no-repeat top left !important;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 0;
  margin-right: 20px;
  padding-left: 0;
}

.limage-container {
  max-width: none !important;
  height: 800px;
  width: 800px;
  overflow: scroll;
  display: none;
}

.limage-container img {
  max-width: none !important;
}

.results-grid-item {
  height: 200px;
}
